[submodule "thirdparty/TransformerEngine"]
	path = thirdparty/TransformerEngine
	url = https://github.com/NVIDIA/TransformerEngine.git
	branch = release_v1.1
[submodule "thirdparty/cugae"]
	path = thirdparty/cugae
	url = https://github.com/garrett4wade/cugae.git
	branch = main
