huggingface_hub
datasets
accelerate
ninja
matplotlib
ipython
megatron_core==0.6.0
deepspeed==0.14.0
h5py
nltk
sentencepiece
wandb
tensorboardx
blosc
colorama
colorlog
einops
hydra-core
matplotlib
numba
omegaconf
packaging
pandas
pybind11>=2.10.0
numpy<2.0.0
psutil
pynvml
pytest
PyYAML
pyzmq
ray
redis
scipy
seaborn
setuptools>=61.0
torch
tqdm
transformers==4.39.3